elements = p h1 h2 h3 h4 h5 h6 ul ol li form label footer


&:before, &:after
  color lighten(black, 50%)
  font-size 0.8em

:before, :after
  color lighten(black, 50%)
  font-size 0.8em

for tag in elements
  .html {tag}:before
    content s("'<%s> '", tag)

  .html {tag}:after
    content s("' </%s>'", tag)
