.site
  body&
    background-color #DCF7F6
    font-weight 300

    &.no-scroll
      overflow hidden

  header
    position relative
    margin 0
    padding 0
    width 100%

    @media screen and (min-width: 870px)
      background-image url(/content/site/head-strip.png)
      background-size 100% 100%

  .head-inner
    height 200px
    max-width 1680px
    margin auto
    color white
    text-align center
    font-family 'KG Next To Me', 'Open Sans', sans-serif
    background-color #3D366C
    background-image unquote('url(/content/site/head-small.jpg)')
    background-size auto 200px
    background-position 50% 50%
    background-repeat no-repeat
    // image-rendering -moz-crisp-edges
    // image-rendering -o-crisp-edges
    // image-rendering -webkit-optimize-contrast
    // image-rendering -webkit-crisp-edges
    // image-rendering crisp-edges
    // -ms-interpolation-mode: nearest-neighbor

    h1
      position relative
      z-index 20
      padding-top 1em
      font-size 32px

    .kitten-count
      position absolute
      top 118px
      left 50%
      width 98px
      letter-spacing 0.4em
      text-align right
      font-family 'Open Sans', sans-serif
      font-size 15px
      color #555

    @media screen and (min-width: 420px)
      height 300px
      background-size auto 300px

      h1
        font-size 48px

      .kitten-count
        font-size 22.5px
        top 185px
        width 147px

    @media screen and (min-width: 650px)
      background-image unquote('url(/content/site/head-large.jpg)')

      h1
        padding-top 0.7em

      .kitten-count
        font-size 30.5px
        top 148px
        width 198px

    @media screen and (min-width: 870px)
      height 400px
      background-size auto 400px

      h1
        padding-top 1em

      .kitten-count
        font-size 40px
        top 200px
        width 262px

  .container
    width 100%
    max-width 800px
    margin auto
    padding 15px

  brand=#443C72
  space=30px
  depress=3px
  h=6px

  button, .button
    padding 10px
    background brand
    border none
    border-radius 5px
    color white
    font-family 'KG Next To Me', 'Open Sans', sans-serif
    text-align center
    line-height 1.5em
    box-shadow 0 (h/2) 0 lighten(brand, 30%)
    transition all 0.3s ease

    &:hover
      background lighten(brand, 20%)

  .cta-cont
    text-align center
    min-height 135px

  .cta
    @extend .site .button
    display inline-block
    padding 10px 20px
    margin space auto
    font-size 0.9em
    text-decoration none
    box-shadow 0 h 0 lighten(brand, 30%)

    &:hover
      background lighten(brand, 10%)
      margin-top space + depress
      margin-bottom space - depress
      box-shadow 0 (h - depress) 0 lighten(brand, 30%)

    &:active
      background lighten(brand, 30%)

  p
    margin-bottom 1em
    line-height 1.75em
    text-align justify

  .lead
    font-size 1.1em
    margin-bottom 35px

  label
    display block

  input
    display block
    width 100%
    margin-bottom 20px
    padding 5px
    border 1px solid rgba(black, 0.3)
    font-family 'Open Sans', sans-serif
    font-size 0.8em
    background-color rgba(white, 0.5)

    &:hover, &:focus
      background-color white

  .row.img, .row .img
    text-align center

  .row img
    max-width 100%

  .speech-bubble
    position relative
    padding 10px
    margin auto
    margin-bottom 10px
    margin-top 20px
    background-color white
    border-radius 10px
    font-family 'KG Next To Me', 'Open Sans', sans-serif
    text-align center
    color #444

    &:after
      content " "
      position absolute
      display block
      width 0
      height 0
      bottom -40px
      left 50%
      margin-left -20px
      border 20px solid transparent
      border-top 20px solid white

  .lim
    max-width 380px

  .space-top-sm
    margin-top 30px

  .space-top
    margin-top 50px

  .flowers
    margin-top 25px
    width 125px

  .space-bottom
    margin-bottom 30px

  ul
    margin-left 25px
    list-style circle

  .lang-select
    display none
    position fixed
    width 350px
    top 100px
    left 50%
    margin-left -(350px/2)
    z-index 30

    &.active
      display block
      animation lang-in 0.5s ease

    .cta
      width 100%
      margin-bottom 0

      &:hover
        margin-bottom -3px

  .cover
    display none
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    z-index 10
    background rgba(48, 40, 91, 0.8)

    &.active
      display block
      animation cover-in 0.5s ease

  shelbySize = 212px
  footer
    position relative
    padding 30px 10px
    text-align center
    background-color #ECE07A

    .shelby
      display none
      position absolute

      img
        width 100%
        height auto
    @media screen and (min-width: 650px)
      padding-top 60px
      margin-top 50px

      .shelby
        top -40px
        display block
        left 50%
        margin-left 130px
        width (shelbySize * 0.75)

    @media screen and (min-width: 870px)
      .shelby
        left auto
        right 30px
        margin 0

    @media screen and (min-width: 960px)
      padding-top 30px
      margin-top 0

      .shelby:before
        content attr(data-dialog)
        display block
        position absolute
        top -25px
        left -115px
        width 120px
        padding-right 20px
        color black
        opacity 0
        background-image url(/content/site/line.png)
        background-size 30px auto
        background-position bottom right
        background-repeat no-repeat
        transform translate(10px, 10px)
        transition all 0.3s ease

      .shelby:hover:before
        transform translate(0, 0)
        opacity 1

@keyframes cover-in
  from
    opacity 0

  to
    opacity 1

@keyframes lang-in
  from
    opacity 0
    transform translateY(50px)

  to
    opacity 1
    transform translateY(0)
