font = 'Open Sans', sans-serif
codeFonts = 'Ubuntu Mono', 'Consolas', 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif
brandFont = 'KG Next to Me', 'Open Sans', sans-serif

arem = 18px

eakPurple=#443C72
darkEakPurple=rgb(48, 40, 91)
