.btn
  padding 0.5em
  background eakPurple
  border none
  border-radius 0.3em
  color white
  font-family brandFont
  text-align center
  font-size 14px
  line-height 1.5em
  box-shadow 0 0.2em 0 lighten(eakPurple, 30%)
  cursor pointer
  transition all 0.3s ease

  &:hover
    background lighten(eakPurple, 20%)

.btn-main
  display block
  margin 1.5em auto

.overlay-button
  height 30px
  border none
  padding 0 15px
  vertical-align top
  cursor pointer
  font-family font
  font-size 16px
  color white
  background rgba(255, 255, 255, 0.2)
  text-shadow 0 0 10px rgba(0, 0, 0, 0.7)
  box-shadow 0 0 6px rgba(255, 255, 255, 0.4)
  transition all 0.3s ease

  &:hover
    background rgba(255, 255, 255, 0.3)
    box-shadow 0 0 6px rgba(255, 255, 255, 0.6)
