.dialogue
  display block
  width 410px
  margin-left -205px
  margin-top 30px
  display none
  padding arem
  text-shadow 0 0 20px white, 0 0 10px white

  position absolute
  top 0
  left 50%

  @media (max-width: 400px)
    width 100%
    margin-left 0
    left 0

  &.active
    display block
    animation dialogue-in 0.2s ease-out

  &.disabled
    display block
    visibility hidden
    animation dialogue-out 0.2s ease-in

@keyframes dialogue-in
  from
    transform scale(0.8) translateZ(0)
    opacity 0

  to
    transform scale(1) translateZ(0)
    opacity 1

@keyframes dialogue-out
  from
    transform scale(1) translateZ(0)
    opacity 1
    visibility visible

  to
    transform scale(1.2) translateZ(0)
    opacity 0
    visibility hidden
