.slider
  &.noUi-horizontal
    height 25px
    border-radius 25px

    .noUi-handle
      width 25px
      height 24px
      left -12.5px
      top 0

  &.noUi-background
    background-color rgba(black, 0.2)
    box-shadow 0px 3px 0px rgba(black, 0.2) inset, 0 1px 0px rgba(white, 0.1)
    border none
    overflow hidden

  .noUi-base
    width auto
    margin-left 12px
    margin-right 12px

  .noUi-handle
    background-color lighten(eakPurple, 25%)
    border none
    border-radius 100%
    box-shadow 0 3px 0 lighten(eakPurple, 50%)
    cursor pointer

    &:before, &:after
      display none

