<div class="login-loader">
  <h2>Signing In...</h2>
  <div class="loading-spinner-player">
    <div class="player-inner">
      <div class="player-head">
        <div class="player-ear-left"></div>
        <div class="player-ear-right"></div>
        <div class="player-face"></div>
        <div class="player-eyes"></div>
      </div>
      <div class="player-body"></div>
      <div class="player-leg-left"></div>
      <div class="player-leg-right"></div>
    </div>
  </div>
</div>
