<div id="login">
  <div class="cont">
    <h2>Sign In</h2>
    <p>No account? <a href="#/app/signup" class="sign-up btn">Sign up here.</a> It's pretty great.</p>
    <div class="sign-in">
      <button class="sso sso-google">Sign in with Google</button>
      <button class="sso sso-facebook">Sign in with Facebook</button>
      <div class="hr">or</div>
      <form>
        <div class="form-errors hidden"></div>
        <label class="text-field">
          <span>Username or email</span>
          <input type="text" class="username" required>
        </label>
        <label class="text-field">
          <span>Password</span>
          <input type="password" class="password" required>
        </label>
        <button type="submit" class="btn pull-right">Sign In &rarr;</button>
      </form>
    </div>
  </div>
</div>
