<div class="cont-wide">
  <h2>Subscribe to E.A.K.</h2>
  <p>TODO: Collect country, offer confirmation options, ask whether to auto-renew</p>
  <p>Confirm your subscription of £{{amt}}/{{period}}</p>
  <button class="btn subscribe">Subscribe</button>
</div>
