<div id="settings">
  <div class="cont">
    <h2>{{l10n 'settings.title'}}</h2>
    <label class="range" data-prop="musicVolume">
      <h4 class="name">{{l10n 'settings.music'}}</h4>
      <span class="value"></span>
      <div class="slider"></div>
    </label>

    <label class="range" data-prop="effectsVolume">
      <h4 class="name">{{l10n 'settings.effects'}}</h4>
      <span class="value"></span>
      <div class="slider"></div>
    </label>

    <div class="lang-select">
      <h4>{{l10n 'settings.language'}}</h4>
      <button data-lang="en" class="btn lang">English</button>
      <button data-lang="es-419" class="btn lang">Español (Latinoamérica)</button>
      <button data-lang="nl" class="btn lang">Nederlands</button>
    </div>
  </div>
</div>
