<div id="signup">
  <div class="cont-wide">
    <h2>Sign Up</h2>
    <h3>What are you into?</h3>
    <div class="two-up">
      <div class="two-up-col">
        <h3>Social sign-in excitement!?</h3>
        <button class="sso sso-google">Sign up with Google</button>
        <button class="sso sso-facebook">Sign up with Facebook</button>
      </div>
      <div class="two-up-col">
        <h3>Or, these crazy text fields?! <span class="sub">Real talk: they're mostly not text fields</span></h3>
        <form>
          <div class="form-errors hidden"></div>
          <label class="text-field text-field-plain first-name">
            <span>What's your first name?</span>
            <input type="text" name="firstName" placeholder="e.g. Tarquin" required>
          </label>
          <div class="radio-group radio-group-plain over-thirteen">
            <span>Are you aged 13 or over?</span>
            <div class="radio-group-radios">
              <input id="over-13-yes" type="radio" name="overThirteen" value="true">
              <label for="over-13-yes">Yes</label>
              <input id="over-13-no" type="radio" name="overThirteen" value="false">
              <label for="over-13-no">No</label>
            </div>
          </div>
          <button type="submit" class="btn pull-right">Onwards! &rarr;</button>
        </form>
      </div>
    </div>
  </div>
</div>
