<div class="cont-wide">
  <h2>Subscribe to E.A.K.</h2>
  <!-- <p class="lead">Some copy about how awesome we are... Everyone should buy our thing!</p> -->
  <ul class="subchoice">
    <li class="subchoice-item-cont" data-sub-choice="parents-monthly">
      <div class="subchoice-item">
        <h3 class="subchoice-item-price">
          <span class="subchoice-item-amount">£3</span><span class="subchoice-item-period">/month</span>
        </h3>
        <ul class="subchoice-item-features">
          <li>Thing you get</li>
          <li>Other thing you get</li>
          <li>Last thing you get</li>
        </ul>
      </div>
    </li>
    <li class="subchoice-item-cont" data-sub-choice="parents-yearly">
      <div class="subchoice-item subchoice-item-emph">
        <h3 class="subchoice-item-price">
          <span class="subchoice-item-amount">£25</span><span class="subchoice-item-period">/year</span>
        </h3>
        <ul class="subchoice-item-features">
          <li>25% discount!</li>
          <li>Everything from the other thing</li>
          <li>Other stuff!</li>
        </ul>
      </div>
    </li>
    <li class="subchoice-item-cont" data-sub-choice="teachers">
      <div class="subchoice-item">
        <h3>E.A.K. for schools</h3>
        <ul class="subchoice-item-features">
          <li>Teachers?</li>
          <li>Teachers.</li>
          <li>TEACHERS!</li>
        </ul>
      </div>
    </li>
  </ul>
  <p>Something here explaining why anyone would want to buy our thing, probably aimed at parents.</p>
</div>
