<div class="content-container">
  <div class="egg">
    <img src="/content/common/oracle.png">
  </div>
  <div class="content">
    content
  </div>
</div>
<div class="controls">
  <button class="play-pause"><span class="fa fa-play"></span></button>
  {{#each tutorial.steps}}
    <button class="step" data-step="{{@index}}" style="flex: {{duration}}">
      <span class="number">{{inc @index}}</span>
      <div class="progress"></div>
      {{#if extra}}
        <span class="extra">‽</span>
      {{else}}
        <span class="fa fa-lock lock-sign"></span>
      {{/if}}
    </button>
  {{/each}}
  <button class="prev"><span class="fa fa-chevron-left"></span></button>
  <button class="next"><span class="fa fa-chevron-right"></span></button>
</div>
