<div class="content-container">
  <div class="content">
    content
  </div>
</div>
<div class="controls">
  <button class="play-pause"><span class="fa fa-play"></span></button>
  {{#each tutorial.steps}}
    <button class="step" data-step="{{@index}}" style="flex: {{duration}}">
      {{inc @index}}
      <div class="progress">
    </button>
  {{/each}}
  <button class="prev"><span class="fa fa-chevron-left"></span></button>
  <button class="next"><span class="fa fa-chevron-right"></span></button>
</div>
