.cloud
  position absolute
  background-size contain
  background-repeat no-repeat
  background-position center
  z-index 0

.level
  .cloud-a
    @extends .cloud
    background-image url('/content/common/clouds-a.png')
    animation cloud-float 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite
    width 250px
    height 82px

  .cloud-b
    @extends .cloud
    background-image url('/content/common/clouds-b.png')
    animation cloud-float 6s 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite reverse
    width 150px
    height 60px

  .cloud-c
    @extends .cloud
    background-image url('/content/common/clouds-c.png')
    animation cloud-float 7s 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite
    width 150px
    height 50px

@keyframes cloud-float
  0%
    transform translate(0, -10px)

  50%
    transform translate(0, 10px)

  100%
    transform translate(0, -10px)
