.computer-junk
  width 89px
  height 100px
  position absolute

  &:before
    content " "
    width 97px
    height 100px
    position absolute
    top 0
    right 0
    background-image url('/content/common/computer-junk.png')
    background-size 97px 100px
    background-position top right
