time(duration, delay = 0)
  animation-duration duration
  animation-delay delay

ssize(w, h, scale = 1)
  width w * scale
  height h * scale

rot(amt)
  transform rotate(amt)

rots(r, s = 1)
  transform scale(s) rotate(r)

.eyes
  position absolute
  background-size 100% 100%
  animation-name eyes-fade
  animation-iteration-count infinite

.eyes-1a, .eyes-1b
  @extends .eyes
  background-image url(/content/common/eyes-1.png)
  ssize 70px 30px 0.6

.eyes-2a, .eyes-2b
  @extends .eyes
  background-image url(/content/common/eyes-2.png)
  ssize 110px 32px 0.3

.eyes-3a, .eyes-3b
  @extends .eyes
  background-image url(/content/common/eyes-3.png)
  ssize 145px 30px 0.5

.eyes-4a, .eyes-4b
  @extends .eyes
  background-image url(/content/common/eyes-4.png)
  ssize 115px 25px 0.7

.eyes-1a
  time 11s -3s
  rot 10deg
.eyes-1b
  time 13s -10s
  rots -15deg 0.6
.eyes-2a
  time 9s -5s
  rots 15deg 0.7
.eyes-2b
  time 15s -12s
  rot 10deg
.eyes-3a
  time 11.6s -6s
  rot 8deg
.eyes-3b
  time 8.3s -6s
  rot 17deg
.eyes-4a
  time 12s
  rot 10deg
.eyes-4b
  time 10s -9.8s
  rot -22deg

@keyframes eyes-fade
  0%
    opacity 0

  15%
    opacity 1

  35%
    opacity 1

  50%
    opacity 0

  100%
    opacity 0
