.fan
  width 72px
  height 72px
  position absolute

  &:after
    content ' '
    display block
    position absolute
    z-index 2
    width 72px
    height 72px
    background-image url('/content/common/fan-overlay.png')
    background-size 100% 100%

  .fan-blades
    z-index 1

.fan-blades
  position absolute
  width 72px
  height 72px
  background-image url('/content/common/fan-blades.png')
  background-size 100% 100%
  animation fan-blades 2s linear infinite

@keyframes fan-blades
  from
    transform rotate(0deg)

  to
    transform rotate(360deg)
