.cosmic-teapot
  entity '/content/common/cosmic-teapot.png' 60px 50px
  animation cosmic-teapot-orbit 30s infinite linear

@keyframes cosmic-teapot-orbit
  0%
    transform rotate(90deg) translate(-400px) rotate(0deg)

  80%
    transform rotate(0deg) translate(-400px) rotate(1080deg)

  100%
    transform rotate(0deg) translate(-400px) rotate(1080deg)
