.moving-platform-space
  position absolute
  width 100px
  height 15px

  &:after
    content ' '
    top -3px
    entity '/content/common/moving-platform/space.png' 100px 32px

.moving-platform-space-rickety
  position absolute
  width 100px
  height 20px

  &:after
    content ' '
    top -17px
    entity '/content/common/moving-platform/space-rickety.png' 100px 40px
