.mini-mushroom
  entity '/content/common/mini-mushroom.png' 45px 65px

  &.down
    background-image url('/content/common/mini-mushroom-down.png')
    animation mushroom-wiggle 5.4s linear alternate infinite

.mega-mushroom
  entity '/content/common/mega-mushroom.png' 85px 100px
  transform rotate(-15deg)

@keyframes mushroom-wiggle
  0%
    transform-origin 50% 0
    transform none

  40%
    transform none
  45%
    transform matrix(1,0,-0.1,1,0,0)
  50%
    transform none
  55%
    transform matrix(1,0,-0.1,1,0,0)
  60%
    transform none

  100%
    transform-origin 50% 0
    transform none
