.level .player.entity
  width 33px
  height 54px
  z-index 10000

  *
    position absolute
    background-size 100% 100%
    background-repeat no-repeat

  .player-inner
    width 39px
    height 54px
    margin-left -3px
    margin-top -6px

    *
      animation 1s anim-null linear infinite

  .player-body
    background-image url('/content/common/arca/front/body.png')
    width 31px
    height 33px
    top 22px
    left 4px
    transform-origin 50% 30%
    z-index 1

  .player-head
    width 35px
    height 30px
    top 5px
    left 2px
    z-index 2

  .player-face
    background-image url('/content/common/arca/front/head.png')
    width 35px
    height 30px

  .player-ear-left
    background-image url('/content/common/arca/front/ear-left.png')
    width 23px
    height 24px
    top -5px
    left -2px
    transform-origin 80% 80%

  .player-ear-right
    background-image url('/content/common/arca/front/ear-right.png')
    width 23px
    height 24px
    top -5px
    left 14px
    transform-origin 20% 80%

  .player-eyes
    background-image url('/content/common/arca/front/eye-01.png')
    width 21px
    height 7px
    top 18px
    left 6.5px

  .player-leg-left
    background-image url('/content/common/arca/front/leg-left.png')
    width 6px
    height 13px
    top 47px
    left 11px
    transform-origin 50% 30%

  .player-leg-right
    background-image url('/content/common/arca/front/leg-left.png')
    width 6px
    height 13px
    top 47px
    left 22px
    transform-origin 50% 30%

  &.player-left .player-inner
    transform scaleX(-1) translateZ(0)

  /* Side facing: */
  &.player-running, &.player-jumping

    /* These assets are the wrong way round, so we reverse them: */
    .player-inner
      width 31px
      height 60px
      margin-top -8px
      margin-left 1px
      transform scaleX(-1) translateZ(0)

    &.player-left .player-inner
      transform translateZ(0)

    .player-body
      background-image url('/content/common/arca/side/body.png')
      width 31px
      height 33px
      top 24px
      left 0px
      z-index 1

    .player-head
      width 30px
      height 30px
      top 8px
      left 1px
      z-index 2

    .player-face
      background-image url('/content/common/arca/side/head.png')
      width 30px
      height 30px
      z-index 2

    .player-ear-left
      background-image url('/content/common/arca/side/ear-front.png')
      width 15px
      height 16px
      top -6px
      left 1.7px
      transform-origin 20% 80%
      z-index 3

    .player-ear-right
      background-image url('/content/common/arca/side/ear-back.png')
      width 17px
      height 19px
      top -8px
      left 7px
      z-index 1

    .player-eyes
      background-image url('/content/common/arca/side/eye-01.png')
      width 6px
      height 8px
      top 16px
      left 20px
      z-index 2

    .player-leg-left
      background-image url('/content/common/arca/side/leg-front.png')
      width 7px
      height 14px
      top 49px
      left 11px

    .player-leg-right
      background-image url('/content/common/arca/side/leg-back.png')
      width 5px
      height 14px
      top 49px
      left 16px


  &.player-idle
    .player-ear-left
      animation player-ear-left-idle 5s linear infinite

    .player-ear-right
      animation player-ear-right-idle 6s -3.141s linear infinite

  &.player-running
    .player-body
      animation player-body-run 0.3s ease-in-out alternate infinite

    .player-head
      animation player-head-run 0.3s ease-in-out alternate infinite

    .player-ear-left
      animation player-ear-left-run 0.3s ease-in-out alternate infinite

    .player-ear-right
      animation player-ear-right-run 0.3s ease-in-out alternate infinite

    .player-leg-left
      animation player-leg-left-run 0.2s ease-in alternate infinite

    .player-leg-right
      animation player-leg-right-run 0.2s ease-out alternate infinite

  &.player-jumping
    .player-ear-left
      animation player-ear-left-jump 0.1s ease-out alternate infinite

    .player-ear-right
      animation player-ear-right-jump 0.1s ease-out alternate infinite

    .player-leg-left
      animation player-leg-left-jump 0.5s ease-in-out alternate infinite
      animation-fill-mode both

    .player-leg-right
      animation player-leg-right-jump 0.5s ease-in-out alternate infinite
      animation-fill-mode both

  &.player-jumping-forward
    .player-ear-left
      animation player-ear-left-jump-forward 0.1s ease-out alternate infinite

    .player-ear-right
      animation player-ear-right-jump-forward 0.1s ease-out alternate infinite

    .player-leg-left
      animation player-leg-left-jump-forward 0.5s ease-in-out
      animation-fill-mode both

    .player-leg-right
      animation player-leg-right-jump-forward 0.5s ease-in-out
      animation-fill-mode both

  &.player-falling
    .player-leg-left
      animation player-leg-left-falling 0.3s ease-in-out alternate infinite

    .player-leg-right
      animation player-leg-right-falling 0.33141s ease-in-out alternate infinite

    .player-ear-left
      animation player-ear-left-falling 0.1s ease-in-out alternate infinite

    .player-ear-right
      animation player-ear-right-falling 0.1s ease-in-out alternate infinite

    .player-head
      animation player-head-falling 0.4s -0.2s ease-in-out alternate infinite

    .player-body
      animation player-body-falling 0.43141s -0.2157s ease-in-out alternate infinite

  &.player-squish
    .player-inner
      animation player-inner-squish 1s linear
      animation-fill-mode both

    .player-leg-right
      animation player-leg-right-squish 1s ease
      animation-fill-mode both

    .player-leg-left
      animation player-leg-left-squish 1s ease
      animation-fill-mode both

    .player-head
      animation player-head-squish 1s ease-in
      animation-fill-mode both

    .player-ear-right
      animation player-ear-right-squish 1s linear
      animation-fill-mode both

    .player-ear-left
      animation player-ear-left-squish 1s ease-out
      animation-fill-mode both

  // &.player-pain .player-inner
  //   sprite 5

/* We use this animation to keep things sharp: */
@keyframes anim-null
  from
    transform rotate(0)

  to
    transform rotate(0)

/* Player idle: */
@keyframes player-ear-left-idle
  0%
    transform rotate(0)

  80%
    transform rotate(0)

  85%
    transform rotate(4deg)

  95%
    transform rotate(-4deg)

  100%
    transform rotate(0)

@keyframes player-ear-right-idle
  0%
    transform rotate(0)

  80%
    transform rotate(0)

  85%
    transform rotate(-4deg)

  95%
    transform rotate(4deg)

  100%
    transform rotate(0)

/* Forward facing jump */
@keyframes player-ear-left-jump-forward
  from
    transform rotate(0)

  to
    transform rotate(-10deg)

@keyframes player-ear-right-jump-forward
  from
    transform rotate(0)

  to
    transform rotate(10deg)

@keyframes player-leg-left-jump-forward
  from
    transform rotate(0)

  to
    transform rotate(40deg)

@keyframes player-leg-right-jump-forward
  from
    transform rotate(0)

  to
    transform rotate(-40deg)

/* Falling */
@keyframes player-leg-left-falling
  from
    transform rotate(-10deg)

  to
    transform rotate(40deg)

@keyframes player-leg-right-falling
  from
    transform rotate(10deg)

  to
    transform rotate(-40deg)

@keyframes player-ear-left-falling
  from
    transform rotate(10deg)

  to
    transform rotate(-10deg)

@keyframes player-ear-right-falling
  from
    transform rotate(-10deg)

  to
    transform rotate(10deg)

@keyframes player-head-falling
  from
    transform rotate(-10deg)

  to
    transform rotate(10deg)

@keyframes player-body-falling
  from
    transform rotate(10deg)

  to
    transform rotate(-10deg)

/* Running */
@keyframes player-leg-left-run
  from
    transform rotate(10deg)

  to
    transform rotate(-20deg)

@keyframes player-leg-right-run
  from
    transform rotate(-20deg)

  to
    transform rotate(10deg)

@keyframes player-body-run
  0%
    transform translate(0, 0) rotate(0)

  50%
    transform translate(1px, -1px) rotate(1.5deg)

  100%
    transform translate(2px, 0) rotate(3deg)

@keyframes player-head-run
  0%
    transform translate(0, 0) rotate(5deg)

  50%
    transform translate(1px, -1px) rotate(2.5deg)

  100%
    transform translate(2px, 0) rotate(0deg)

@keyframes player-ear-left-run
  from
    transform rotate(0deg)

  to
    transform rotate(5deg)

@keyframes player-ear-right-run
  from
    transform rotate(5deg)

  to
    transform rotate(0deg)

/* Jumping */
@keyframes player-ear-left-jump
  from
    transform rotate(-5deg)

  to
    transform rotate(5deg)

@keyframes player-ear-right-jump
  from
    transform rotate(5deg)

  to
    transform rotate(-5deg)

@keyframes player-leg-left-jump
  from
    transform rotate(0deg)

  to
    transform rotate(40deg)

@keyframes player-leg-right-jump
  from
    transform rotate(0deg)

  to
    transform rotate(-40deg)

@keyframes player-inner-squish
  0%
    transform rotate(0)

  20%
    transform translate(12px, 5px) rotate(40deg)

  40%
    transform translate(24px, 13px) rotate(80deg)

  60%
    transform translate(35px, 30px) rotate(119deg)

  100%
    transform translate(35px, 30px) rotate(119deg)

@keyframes player-leg-right-squish
  0%
    transform rotate(0)

  15%
    transform rotate(45deg)

  60%
    transform rotate(15deg)

  100%
    transform rotate(-60deg)

@keyframes player-leg-left-squish
  0%
    transform rotate(0)

  25%
    transform rotate(0)

  50%
    transform rotate(5deg)

  100%
    transform rotate(-50deg)

@keyframes player-head-squish
  0%
    transform rotate(0)

  30%
    transform rotate(10deg)

  60%
    transform translate(-12px, 7px) rotate(-40deg)

  100%
    transform translate(-12px, 7px) rotate(-40deg)

@keyframes player-ear-right-squish
  0%
    transform rotate(0)

  55%
    transform rotate(-20deg)

  75%
    transform rotate(0deg)

@keyframes player-ear-left-squish
  0%
    transform rotate(0)

  57%
    transform rotate(-20deg)

  85%
    transform rotate(25deg)

  100%
    transform rotate(25deg)


