player-theme(name, front = true)
  root = '/content/common/' + name

  bg(selector, name, ext = 'png')
    .{selector}
      background-image url(root + '/' + name + '.' + ext)

  bg 'player-body' 'body'
  bg 'player-face' 'head'
  bg 'player-eyes' 'eye-01'

  if front
    bg 'player-ear-left' 'ear-left'
    bg 'player-ear-right' 'ear-right'
    bg 'player-leg-left' 'leg-left'
    bg 'player-leg-right' 'leg-right'
  else
    bg 'player-ear-left' 'ear-front'
    bg 'player-ear-right' 'ear-back'
    bg 'player-leg-left' 'leg-front'
    bg 'player-leg-right' 'leg-back'

.player.entity
  font-size 100px
  width 0.33em
  height 0.54em
  z-index 100

  // Themeing Options
  player-theme 'arca/front'

  &.player-running, &.player-jumping
    player-theme 'arca/side', false

  &.player-silhouette-white
    player-theme 'arca/silhouette-white/front'

    &.player-running, &.player-jumping
      player-theme 'arca/silhouette-white/side', false

  &.spinner
    font-size 150px
    margin auto
    margin-top 60px

  *
    position absolute
    background-size 100% 100%
    background-repeat no-repeat

  .player-inner
    width 0.39em
    height 0.54em
    margin-left -0.03em
    margin-top -0.06em

    *
      animation 1s anim-null linear infinite

  .player-body
    width 0.31em
    height 0.33em
    top 0.22em
    left 0.04em
    transform-origin 50% 30%
    z-index 1

  .player-head
    width 0.35em
    height 0.30em
    top 0.05em
    left 0.02em
    z-index 2

  .player-face
    width 0.35em
    height 0.30em

  .player-ear-left
    width 0.23em
    height 0.24em
    top -0.05em
    left -0.02em
    transform-origin 80% 80%

  .player-ear-right
    width 0.23em
    height 0.24em
    top -0.05em
    left 0.14em
    transform-origin 20% 80%

  .player-eyes
    width 0.21em
    height 0.07em
    top 0.18em
    left 0.065em

  .player-leg-left
    width 0.06em
    height 0.13em
    top 0.47em
    left 0.11em
    transform-origin 50% 30%

  .player-leg-right
    width 0.06em
    height 0.13em
    top 0.47em
    left 0.22em
    transform-origin 50% 30%

  &.player-left .player-inner
    transform scaleX(-1) translateZ(0)

  /* Side facing: */
  &.player-running, &.player-jumping

    /* These assets are the wrong way round, so we reverse them: */
    .player-inner
      width 0.31em
      height 0.60em
      margin-top -0.08em
      margin-left 0.01em
      transform scaleX(-1) translateZ(0)

    &.player-left .player-inner
      transform translateZ(0)

    .player-body
      width 0.31em
      height 0.33em
      top 0.24em
      left 0em
      z-index 1

    .player-head
      width 0.30em
      height 0.30em
      top 0.08em
      left 0.01em
      z-index 2

    .player-face
      width 0.30em
      height 0.30em
      z-index 2

    .player-ear-left
      width 0.15em
      height 0.16em
      top -0.06em
      left 0.017em
      transform-origin 20% 80%
      z-index 3

    .player-ear-right
      width 0.17em
      height 0.19em
      top -0.08em
      left 0.07em
      z-index 1

    .player-eyes
      width 0.06em
      height 0.08em
      top 0.16em
      left 0.20em
      z-index 2

    .player-leg-left
      width 0.07em
      height 0.14em
      top 0.49em
      left 0.11em

    .player-leg-right
      width 0.05em
      height 0.14em
      top 0.49em
      left 0.16em


  &.player-idle
    .player-ear-left
      animation player-ear-left-idle 5s linear infinite

    .player-ear-right
      animation player-ear-right-idle 6s -3.141s linear infinite

  &.player-running
    .player-body
      animation player-body-run 0.3s ease-in-out alternate infinite

    .player-head
      animation player-head-run 0.3s ease-in-out alternate infinite

    .player-ear-left
      animation player-ear-left-run 0.3s ease-in-out alternate infinite

    .player-ear-right
      animation player-ear-right-run 0.3s ease-in-out alternate infinite

    .player-leg-left
      animation player-leg-left-run 0.2s ease-in alternate infinite

    .player-leg-right
      animation player-leg-right-run 0.2s ease-out alternate infinite

  &.player-jumping
    .player-ear-left
      animation player-ear-left-jump 0.1s ease-out alternate infinite

    .player-ear-right
      animation player-ear-right-jump 0.1s ease-out alternate infinite

    .player-leg-left
      animation player-leg-left-jump 0.5s ease-in-out alternate infinite
      animation-fill-mode both

    .player-leg-right
      animation player-leg-right-jump 0.5s ease-in-out alternate infinite
      animation-fill-mode both

  &.player-jumping-forward
    .player-ear-left
      animation player-ear-left-jump-forward 0.1s ease-out alternate infinite

    .player-ear-right
      animation player-ear-right-jump-forward 0.1s ease-out alternate infinite

    .player-leg-left
      animation player-leg-left-jump-forward 0.5s ease-in-out
      animation-fill-mode both

    .player-leg-right
      animation player-leg-right-jump-forward 0.5s ease-in-out
      animation-fill-mode both

  &.player-falling
    .player-leg-left
      animation player-leg-left-falling 0.3s ease-in-out alternate infinite

    .player-leg-right
      animation player-leg-right-falling 0.33141s ease-in-out alternate infinite

    .player-ear-left
      animation player-ear-left-falling 0.1s ease-in-out alternate infinite

    .player-ear-right
      animation player-ear-right-falling 0.1s ease-in-out alternate infinite

    .player-head
      animation player-head-falling 0.4s -0.2s ease-in-out alternate infinite

    .player-body
      animation player-body-falling 0.43141s -0.2157s ease-in-out alternate infinite

  &.player-squish
    .player-inner
      animation player-inner-squish 1s linear
      animation-fill-mode both

    .player-leg-right
      animation player-leg-right-squish 1s ease
      animation-fill-mode both

    .player-leg-left
      animation player-leg-left-squish 1s ease
      animation-fill-mode both

    .player-head
      animation player-head-squish 1s ease-in
      animation-fill-mode both

    .player-ear-right
      animation player-ear-right-squish 1s linear
      animation-fill-mode both

    .player-ear-left
      animation player-ear-left-squish 1s ease-out
      animation-fill-mode both

  // &.player-pain .player-inner
  //   sprite 5

/* We use this animation to keep things sharp: */
@keyframes anim-null
  from
    transform rotate(0)

  to
    transform rotate(0)

/* Player idle: */
@keyframes player-ear-left-idle
  0%
    transform rotate(0)

  80%
    transform rotate(0)

  85%
    transform rotate(4deg)

  95%
    transform rotate(-4deg)

  100%
    transform rotate(0)

@keyframes player-ear-right-idle
  0%
    transform rotate(0)

  80%
    transform rotate(0)

  85%
    transform rotate(-4deg)

  95%
    transform rotate(4deg)

  100%
    transform rotate(0)

/* Forward facing jump */
@keyframes player-ear-left-jump-forward
  from
    transform rotate(0)

  to
    transform rotate(-10deg)

@keyframes player-ear-right-jump-forward
  from
    transform rotate(0)

  to
    transform rotate(10deg)

@keyframes player-leg-left-jump-forward
  from
    transform rotate(0)

  to
    transform rotate(40deg)

@keyframes player-leg-right-jump-forward
  from
    transform rotate(0)

  to
    transform rotate(-40deg)

/* Falling */
@keyframes player-leg-left-falling
  from
    transform rotate(-10deg)

  to
    transform rotate(40deg)

@keyframes player-leg-right-falling
  from
    transform rotate(10deg)

  to
    transform rotate(-40deg)

@keyframes player-ear-left-falling
  from
    transform rotate(10deg)

  to
    transform rotate(-10deg)

@keyframes player-ear-right-falling
  from
    transform rotate(-10deg)

  to
    transform rotate(10deg)

@keyframes player-head-falling
  from
    transform rotate(-10deg)

  to
    transform rotate(10deg)

@keyframes player-body-falling
  from
    transform rotate(10deg)

  to
    transform rotate(-10deg)

/* Running */
@keyframes player-leg-left-run
  from
    transform rotate(10deg)

  to
    transform rotate(-20deg)

@keyframes player-leg-right-run
  from
    transform rotate(-20deg)

  to
    transform rotate(10deg)

@keyframes player-body-run
  0%
    transform translate(0, 0) rotate(0)

  50%
    transform translate(0.01em, -0.01em) rotate(1.5deg)

  100%
    transform translate(0.02em, 0) rotate(3deg)

@keyframes player-head-run
  0%
    transform translate(0, 0) rotate(5deg)

  50%
    transform translate(0.01em, -0.01em) rotate(2.5deg)

  100%
    transform translate(0.02em, 0) rotate(0deg)

@keyframes player-ear-left-run
  from
    transform rotate(0deg)

  to
    transform rotate(5deg)

@keyframes player-ear-right-run
  from
    transform rotate(5deg)

  to
    transform rotate(0deg)

/* Jumping */
@keyframes player-ear-left-jump
  from
    transform rotate(-5deg)

  to
    transform rotate(5deg)

@keyframes player-ear-right-jump
  from
    transform rotate(5deg)

  to
    transform rotate(-5deg)

@keyframes player-leg-left-jump
  from
    transform rotate(0deg)

  to
    transform rotate(40deg)

@keyframes player-leg-right-jump
  from
    transform rotate(0deg)

  to
    transform rotate(-40deg)

@keyframes player-inner-squish
  0%
    transform rotate(0)

  20%
    transform translate(0.12em, 0.05em) rotate(40deg)

  40%
    transform translate(0.24em, 0.13em) rotate(80deg)

  60%
    transform translate(0.35em, 0.3em) rotate(119deg)

  100%
    transform translate(0.35em, 0.3em) rotate(119deg)

@keyframes player-leg-right-squish
  0%
    transform rotate(0)

  15%
    transform rotate(45deg)

  60%
    transform rotate(15deg)

  100%
    transform rotate(-60deg)

@keyframes player-leg-left-squish
  0%
    transform rotate(0)

  25%
    transform rotate(0)

  50%
    transform rotate(5deg)

  100%
    transform rotate(-50deg)

@keyframes player-head-squish
  0%
    transform rotate(0)

  30%
    transform rotate(10deg)

  60%
    transform translate(-0.12em, 0.07em) rotate(-40deg)

  100%
    transform translate(-0.12em, 0.07em) rotate(-40deg)

@keyframes player-ear-right-squish
  0%
    transform rotate(0)

  55%
    transform rotate(-20deg)

  75%
    transform rotate(0deg)

@keyframes player-ear-left-squish
  0%
    transform rotate(0)

  57%
    transform rotate(-20deg)

  85%
    transform rotate(25deg)

  100%
    transform rotate(25deg)


