.spike
  position absolute
  width 100px
  height 275px
  background-size 100% 100%

  &.left, &.right
    width 275px
    height 100px

  &.rocky-up
    background-image url(/content/common/rocky-spike.png)

  &.rocky-down
    background-image url(/content/common/rocky-spike-down.png)

  &.rocky-left
    background-image url(/content/common/rocky-spike-left.png)

  &.rocky-right
    background-image url(/content/common/rocky-spike-right.png)

  &.rocky-base-up
    background-image url(/content/common/rocky-spike-base.png)
