.spike
  position absolute
  width 100px
  height 275px
  background-size 100% 100%

  &.rocky
    background-image url(/content/common/rocky-spike.png)

  &.rocky.down
    background-image url(/content/common/rocky-spike-down.png)
