.spike
  position absolute
  width 100px
  height 275px
  background-size 100% 100%

  &.left, &.right
    width 275px
    height 100px

  &.rocky
    background-image url(/content/common/rocky-spike.png)

    &.down
      background-image url(/content/common/rocky-spike-down.png)

    &.left
      background-image url(/content/common/rocky-spike-left.png)

    &.right
      background-image url(/content/common/rocky-spike-right.png)
