.entity.entity-target
  width 48px
  height 52px
  margin-left -24px
  margin-top -26px
  position absolute
  text-align left
  z-index 10000

  canvas
    position absolute
    z-index 10002

  .kitten-anim
    position absolute
    width 200px
    height 200px
    margin-top -100px
    margin-left -100px
    top 32px
    left 24px
    transform scale(0.2)
    z-index 10001
    background-size cover
    background-position center
    display none

  &.found .kitten-anim
    animation target-exit 5s 0.3s ease
    animation-fill-mode forwards
    display block

  &.found canvas
    animation target-fade-out 2s 1s linear
    animation-fill-mode forwards

@keyframes target-fade-out
  from
    opacity 1

  to
    opacity 0

@keyframes target-exit
  0%
    opacity 1
    transform translate(0, 0) scale(0.2)

  10%
    opacity 1
    transform translate(0, -70px) scale(0.2)

  20%
    opacity 1
    transform translate(0, -150px) scale(1)

  90%
    opacity 1
    transform translate(0, -150px) scale(1)

  100%
    opacity 0
    transform translate(0, -400px) scale(1)
