.trousersquish-4000
  position absolute
  width 190px
  height 180px
  z-index 200

  &::after
    content ' '
    left -3.5px
    top 165px
    entity '/entities/trousersquish-4000/assets/squisher.png' 197px 30px
