.topbar
  border-bottom 1px solid lighten(black, 90%)
  background white
  height 50px
  padding 0 10px

  .right
    float right

  .fa, .fa:before
    font-size 22px
    color black

#bar
  background transparent
  border none

  display none

  .playing-area &
    display block
    opacity 0
    transition all 1s ease

  .playing:not(.hide-bar) &
    display block

  .playing-area:not(.hide-bar) &
    opacity 1

  .overlay-button
    margin-top 10px
    margin-right 10px

  .right
    position absolute
    top 0
    right 0
    z-index 100002

  .right > *
    float right

  .left
    position absolute
    top 0
    left 0
    z-index 10000
    padding-left 10px

  .left > *
    z-index 10000
    float left

  .square
    width 50px
    height 50px
    display block
    background none
    border none
    font-size 28px
    line-height 38px
    cursor pointer

    &:before, & span:before
      color white
      text-shadow 0 0 10px rgba(0, 0, 0, 0.7)

  .settings-button
    span
      display block
      position absolute
      margin-top -12px
      margin-left 6px
      transform rotate(0deg)
      transition all 0.4s ease

    .icon-inactive
      opacity 1

    .icon-active
      opacity 0

    &.active
      span
        transform translate(2px, 2px) rotate(90deg)
        &:before
          color white

      .icon-inactive
        opacity 0

      .icon-active
        opacity 1
