.btn
  padding 0.5em
  background eakPurple
  border none
  border-radius 0.2em
  color white
  font-family brandFont
  text-align center
  line-height 1.5em
  box-shadow 0 0.2em 0 lighten(eakPurple, 30%)
  cursor pointer
  transition all 0.3s ease

  &:hover
    background lighten(eakPurple, 20%)

