videoWidth = 960px
videoHeight = 720px

.cut-scene
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  background lighten(black, 20%)

  .cutscene-vid
    position absolute
    box-shadow 0 5px 15px rgba(0,0,0,0.3);

    video
      position absolute
      top 0
      left 0
      width 100%
      height 100%

  .cutscene-subtitle
    position absolute
    z-index 1
    width 100%
    bottom 40px
    color white
    text-align center
    text-shadow 0 0 0.5em black, 0 0 0.5em black

    div
      width 100%

  .skip
    position absolute
    top 10px
    right 10px
    color white
    text-decoration none

    &:hover
      text-decoration underline
