#levelcontainer
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  overflow hidden
  display none

  &.active
    display block
    animation fadein 0.5s linear both

  &.remove
    display block
    animation fadeout 0.5s linear both

.player
  z-index 10

body
  overflow hidden

body.playing
  background-color lighten(black, 30%);

body.editor #levelcontainer *, body.paused #levelcontainer *
  animation-play-state paused

.scene
  position absolute

.scene .layer
  position absolute
  overflow hidden
  top 0
  left 0
