.loader
  h2
    margin-top 50px

  .bar
    width 100%
    height 5px
    margin-top 50px
    position relative
    overflow hidden
    border-radius 5px
    background rgba(white, 0.2)

    > div
      position absolute
      height 5px
      width 0%
      background white
      border-radius 5px

  .progress
    text-align center

  .stages
    height 15px
    text-align center
    :not(.active)&
      display none

  .stage
    height 0

    &.next
      transform translate(0, -10px) scale(0.8) translateZ(0)
      opacity 0

    &.current
      transition all 0.2s 0.1s ease-out
      transform translate(0, 0) translateZ(0)
      opacity 1

    &.prev
      transition all 0.2s ease-in
      transform translate(0, 20px) scale(0.8) translateZ(0)
      opacity 0
