.loader
  .bar
    width 100%
    height 10px
    box-shadow 0 0 3px rgba(black, 0.3)
    margin-top 15px
    position relative
    overflow hidden
    border-radius 5px

    > div
      position absolute
      height 10px
      width 0%
      background rgba(black, 0.4)

  .stages
    height 15px

  .stage
    position absolute

    &.next
      transform translate(-30px, 0) translateZ(0)
      opacity 0

    &.current
      transition all 0.2s 0.075s ease-out
      transform translate(0, 0) translateZ(0)
      opacity 1

    &.prev
      transition all 0.2s ease-in
      transform translate(30px, 0) translateZ(0)
      opacity 0