.menu
  overflow hidden

  ul
    margin-top 10px

  li
    font-size 1.2*arem
    font-weight 300
    line-height 40px
    height 40px
    margin-left 15px
    pointer cursor
    transition padding-left 0.3s ease

    a
      color black
      text-decoration none

    &:hover
      padding-left 15px

.about
  a.back
    display block
    margin-top 10px
    height 45px
    line-height 45px

    &:visited
      color rgb(0, 0, 238)