#main-menu
  .caption
    display block
    margin-top 0.3em
    line-height 1em
    font-family font
    font-size 16px
    font-weight 300

#incompatible
  li
    margin-left 50px
    list-style disc

    &:before, &:after
      content ''
