#overlay-views
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 100001
  display none

  &.active
    display block

#overlay-views > *
  display none
  position absolute
  top 75px
  left 0
  right 0
  opacity 0

  &.active
    display block
    opacity 1
    animation dialogue-in 0.4s ease

  &.inactive
    display block
    opacity 0
    animation dialogue-out 0.4s ease

#settings
  display none
  position fixed
  top 75px
  left 0
  right 0
  opacity 0

  &.active
    display block
    opacity 1
    animation dialogue-in 0.4s ease

  &.inactive
    display block
    opacity 0
    animation dialogue-out 0.4s ease

  .cont
    width 100%
    max-width 400px
    margin auto
    color white

  h2
    text-align center
    font-family brandFont
    font-size 36px
    line-height 1.5em

  h4
    font-family brandFont

  .range
    display block
    margin-top 30px

    .name
      float left

    .value
      float right
      font-family brandFont

    .slider
      clear both
      position relative
      top 5px

  .lang-select
    margin-top 30px

    .lang
      display block
      text-align center
      width 100%
      margin-bottom 15px
      margin-top 10px
      font-size 16px

      &.disabled
        opacity 0.5
        pointer-events none
        cursor normal
