#overlay, .focus-overlay
  display none
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  z-index 100000
  opacity 0
  background-color eakSkyBlue
  background-image url('/ui/bg.png'), url('/ui/strip.png')
  background-size 900px 444px, 1px 90px
  background-position center bottom, center bottom
  background-repeat no-repeat, repeat-x
  // background lime

  &.active
    display block
    opacity 1
    animation overlay-in 0.4s ease

  &.inactive
    display block
    opacity 0
    animation overlay-out 0.4s ease

.focus-overlay
  z-index 10000
  background rgba(eakSkyBlue, 0.8)

@keyframes overlay-in
  from
    opacity 0

  to
    opacity 1

@keyframes overlay-out
  from
    opacity 1

  to
    opacity 0
