.signup
  overflow auto

  h1
    margin-bottom 20px

  h2
    margin-top 20px

  form > *
    margin-left 15px

  input
    background white
    border 1px solid darken(white, 30%)
    display block
    width 100%
    font-size 16px
    font-family font
    padding 7px

    &:hover, &:focus
      border-color darken(white, 50%)

  .mc-field-group
    margin-bottom 15px

  .dialogue
    position static
    margin auto
    width 90%
    max-width 630px

  footer
    margin-top 40px
