.annotation-widget
  font-family font
  font-size 18px
  font-weight 300
  background white
  line-height 1.7em
  padding 10px
  overflow hidden
  color black
  border-top 1px solid lighten(black, 90%)
  border-bottom 1px solid lighten(black, 90%)
  margin 5px 0

  &.annotation-error
    border-right 5px solid
    border-color red

    [data-highlight]
      display inline-block
      color black
      border 1px solid lighten(eakPurple, 70%)
      padding 0 8px
      border-radius 0.2em
      cursor pointer

      &:hover
        color white
        background eakPurple
        animation highlight-pulse 0.3s ease-in-out alternate infinite

  p:first-child
    margin-top 0

  ol
    list-style decimal
    margin-left 1.5em

.highlight-error
  color white !important
  col = lighten(eakPurple, 20%)
  background col
  border-top 2px solid col
  border-bottom 4px solid col
  animation highlight-pulse 0.3s ease-in-out alternate infinite

@keyframes highlight-pulse
   from
     background lighten(eakPurple, 20%)
     border-color lighten(eakPurple, 20%)

   to
     background lighten(eakPurple, 60%)
     border-color lighten(eakPurple, 60%)
