.annotation-widget
  font-family font
  font-size 18px
  font-weight 300
  background white
  line-height 1.7em
  padding 10px
  overflow hidden
  color black
  border-top 1px solid lighten(black, 90%)
  border-bottom 1px solid lighten(black, 90%)
  margin 5px 0

  &.annotation-error
    border-right 5px solid
    border-color red

    [data-highlight]
      color red
      text-decoration underline
      cursor pointer

  p:first-child
    margin-top 0

  ol
    list-style decimal
    margin-left 1.5em

.highlight-error
  text-decoration underline
