.editor-html
  font-size 14px

  *
    box-sizing content-box

  .CodeMirror-scroll
    overflow auto

  .CodeMirror-lines
    font-size 18px
    line-height 1.2em

  .CodeMirror pre
    font-family codeFonts
