.editor-html
  font-size 14px
  height 100%
  padding-top 60px
  margin-top -60px

  *
    box-sizing content-box

  .CodeMirror
    height 100%

  .CodeMirror-scroll
    overflow auto

  .CodeMirror-lines
    font-size 18px
    line-height 1.2em
