#editor
  position absolute
  width 50%
  height 100%
  top 0
  left 0
  transform translate(-100%, 0)
  background white
  z-index 50

  transition all 0.3s ease

body.editor

  #levelcontainer
    width 50%
    left auto
    overflow auto

    .level
      position relative
      margin 20px

  #editor
    transform translate(0, 0)
    box-shadow 0 0 20px rgba(0, 0, 0, 0.4)
