#editor
  display flex
  flex-flow column nowrap
  align-items stretch
  position absolute
  width 50%
  height 100%
  top 0
  left 0
  transform translate(-100%, 0)
  background white
  z-index 50

  transition all 0.3s ease

  > .topbar
    flex-basis 50px

  > .editor-html
    flex 3
    position relative

    .CodeMirror
      position absolute
      height 100%
      width 100%

  > .editor-tutorial
    flex-basis 250px

body.editor

  #levelcontainer
    width 50%
    left auto
    overflow auto

    .level
      position relative
      margin 20px

  #editor
    transform translate(0, 0)
    box-shadow 0 0 20px rgba(0, 0, 0, 0.4)
