/*
Solarized theme for code-mirror
http//ethanschoonover.com/solarized
*/

/*
Solarized color pallet
http//ethanschoonover.com/solarized/img/solarized-palette.png
*/

solar-base03 = #002b36
solar-base02 = #073642
solar-base01 = #586e75
solar-base00 = #657b83
solar-base0 = #839496
solar-base1 = #93a1a1
solar-base2 = #eee8d5
solar-base3 = #fdf6e3
solar-yellow = #b58900
solar-orange = #cb4b16
solar-red = #dc322f
solar-magenta = #d33682
solar-violet = #6c71c4
solar-blue = #268bd2
solar-cyan = #2aa198
solar-green = #859900

/* Color scheme for code-mirror */

.cm-s-solarized
  font-family codeFonts
  color-profile sRGB
  rendering-intent auto

.cm-s-solarized.cm-s-dark
  color solar-base0
  background-color  solar-base03
  text-shadow solar-base03 0 1px

.cm-s-solarized.cm-s-light
  background-color white
  color solar-base00
  // text-shadow solar-base2 0 1px

.cm-s-solarized .CodeMirror-widget
  text-shadow none

.cm-s-solarized .cm-keyword
  color solar-orange

.cm-s-solarized .cm-atom
  color solar-magenta

.cm-s-solarized .cm-number
  color solar-magenta

.cm-s-solarized .cm-def
  color solar-cyan

.cm-s-solarized .cm-variable
  color solar-blue

.cm-s-solarized .cm-variable-2
  color solar-cyan

.cm-s-solarized .cm-variable-3
  color solar-violet

.cm-s-solarized .cm-property
  color solar-cyan

.cm-s-solarized .cm-operator color solar-violet

.cm-s-solarized .cm-comment
  color solar-base01 font-style italic

.cm-s-solarized .cm-string
  color solar-green

.cm-s-solarized .cm-string-2
  color solar-yellow

.cm-s-solarized .cm-meta
  color solar-green

.cm-s-solarized .cm-qualifier
  color solar-yellow

.cm-s-solarized .cm-builtin
  color solar-magenta

.cm-s-solarized .cm-bracket
  color solar-orange

.cm-s-solarized .CodeMirror-matchingbracket
  color solar-green

.cm-s-solarized .CodeMirror-nonmatchingbracket
  color solar-red

.cm-s-solarized .cm-tag
  color solar-blue

.cm-s-solarized .cm-attribute
   color solar-magenta

.cm-s-solarized .cm-header
  color solar-base01

.cm-s-solarized .cm-quote
  color solar-base1

.cm-s-solarized .cm-hr
  color transparent
  border-top 1px solid solar-base01
  display block

.cm-s-solarized .cm-link
  color solar-base1
  cursor pointer

.cm-s-solarized .cm-special
  color solar-violet

.cm-s-solarized .cm-em
  color #999
  text-decoration underline
  text-decoration-style dotted

.cm-s-solarized .cm-strong
  color #eee

.cm-s-solarized .cm-error,
.cm-s-solarized .cm-invalidchar
  color solar-base01
  border-bottom 1px dotted solar-red

.cm-s-solarized.cm-s-dark .CodeMirror-selected
  background solar-base02

.cm-s-solarized.cm-s-light .CodeMirror-selected
  background darken(white, 10%)

/* Gutter border and some shadow from it  */
.cm-s-solarized .CodeMirror-gutters
  padding 0 5px 0 0
  // box-shadow 0 10px 20px black
  border-right 1px solid

/* Gutter colors and line number styling based of color scheme (dark / light) */

/* Dark */
.cm-s-solarized.cm-s-dark .CodeMirror-gutters
  background-color solar-base02
  border-color #00232c

.cm-s-solarized.cm-s-dark .CodeMirror-linenumber
  // text-shadow #021014 0 -1px

/* Light */
.cm-s-solarized.cm-s-light .CodeMirror-gutters
  background-color darken(white, 1%)
  border-color darken(white, 10%)

/* Common */
.cm-s-solarized .CodeMirror-linenumber
  color darken(white, 25%)

.cm-s-solarized .CodeMirror-gutter .CodeMirror-gutter-text
  color solar-base01

.cm-s-solarized .CodeMirror-lines pre
  padding-left 10px

.cm-s-solarized .CodeMirror-lines .CodeMirror-cursor
  border-left 1px solid #819090

/*
Active line. Negative margin compensates left padding of the text in the
view-port
*/
.cm-s-solarized.cm-s-dark .CodeMirror-activeline-background
  background rgba(255, 255, 255, 0.10)

.cm-s-solarized.cm-s-light .CodeMirror-activeline-background
  background rgba(0, 0, 0, 0.10)


