.editor-tutorial
  border-top 1px solid lighten(black, 90%)

  body:not(.has-tutorial) &
    display none

  display flex
  flex-flow column no-wrap

  .content-container
    flex 1
    display flex
    justify-content center
    align-items center
    text-align center

  .egg
    width 150px
    height 168px
    position relative
    opacity 0
    width 0
    transition opacity 0.3s ease, width 0.3s ease

    img
      width 125px
      display block
      position absolute
      right 12.5px

    &.show-right, &.show-left
      width 150px
      opacity 1

    &.show-right
      order 1
      img
        right auto
        left 12.5px

  .controls
    border-top 1px solid lighten(black, 90%)
    flex-basis 50px
    display flex
    flex-flow row nowrap

    > button
      @extend .topbar button
      display block
      padding 0
      margin 0
      line-height 50px
      text-align center
      border none
      border-right 1px solid lighten(black, 90%)

      &:last-child
        border-right none

      &:disabled
        opacity 0.5
        pointer-events none
        cursor not-allowed

    .play-pause, .prev, .next
      flex-basis 50px

    .step
      flex 1
      position relative

      &.active
        background lighten(eakPurple, 85%)

      &.locked
        .number
          opacity 0

        .lock-sign
          opacity 1

    .lock-sign
      position absolute
      width 100%
      left 0
      top 7px
      opacity 0
      transition opacity 0.3s ease

    .number
      opacity 1
      transition opacity 0.3s ease

    .progress
      position absolute
      left 0
      bottom 0
      height 5px
      background eakPurple

    .fa
      font-size 30px

.editor-tutorial .content
  font-weight 300
  color lighten(black, 40%)

  code
    font-weight 400
    font-family codeFonts

  .fade
    transition all 0.5s ease
    opacity 0

    &.active
      opacity 1

  .deem
    opacity 0.5
    font-size 0.75em

  .important
    color black
    font-size 1.5em

.action-highlight
  position absolute
  z-index 999999
  animation action-highlight-pulse 0.5s linear alternate infinite
  animation-play-state running !important

.highlight-action
  animation code-highlight-pulse 0.5s ease-in-out alternate infinite

@keyframes action-highlight-pulse
  from
    background-color rgba(eakPurple, 0.2)

  to
    background-color rgba(eakPurple, 0.5)

@keyframes code-highlight-pulse
  from
    background-color white

  to
    background-color lighten(eakPurple, 80%)
