.ledge {
  padding: 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  display: block;
  position: absolute;
  top: 155px;
  left: 0;
}

.right {
  right: 0;
  left: auto;
  border-right: none;
  border-left: 1px solid black;
}