.ledge {
  padding: 20px;
  display: block;
  position: absolute;
  top: 155px;
  left: 20px;
  background-image: url("content/common/grass-hangdown-top.png"), url("content/common/grass-hangdown-right.png"), url("content/common/grass-hangdown-left.png"), url("content/common/bricks.png");
  background-position: top right, top right, top left, center;
  background-repeat: repeat-x, no-repeat, no-repeat, repeat;
  background-size: 62px 22px, 10px 44px, 10px 44px, 80px 80px;
  box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.2);
}

.right {
  right: 20px;
  left: auto;
  border-right: none;
  /*border-left: 1px solid black;*/
}
