.html {
  padding: 30px;
  padding-top: 20px;
  background: white;
  border-top: 1px solid black;
  border-left: 1px solid black;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  z-index: 5;
}

.ledge {
  padding: 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-top: 155px;
  display: inline-block;
}

img {
  position: absolute;
  top: 30px;
  right: 30px;
}