p {
  border-top: 1px solid black;
  padding: 10px;
  text-align: right;
  margin: 0;
}

.cliff {
  width: 260px;
  border-right: 1px solid black;
  text-align: center;
  margin-top: 200px;
  padding: 20px 10px;
}