normalTextShadow = 0 0 30px rgba(white, 0.75), 0 0 30px rgba(white, 0.75), 0 0 30px rgba(white, 0.75), 0 0 30px rgba(white, 0.75), 0 0 30px rgba(white, 0.75)
incorrectTextShadow = 0 0 30px red
sectionHeight = 54px
urlTrans = 0.3s
incorrectOpacity = 0.3

.url-cont
  position fixed
  top 0
  left 0
  width 100%
  height 100%

.url-display
  position absolute
  bottom 0.6em
  left 0
  width 100%
  text-align center
  font-size 2em
  line-height 1.5em
  text-shadow normalTextShadow

.url-section,
.url-sep
  display inline-block
  transition opacity urlTrans ease, color urlTrans ease

.url-section
  text-align center

.url-section:not(.correct) + .url-sep,
.url-section:not(.correct) + .url-sep + .url-section
  opacity incorrectOpacity

.url-section.correct + .url-sep + .url-section:not(.correct)
  animation glow 0.6s ease alternate infinite

.url-section-target
  height sectionHeight
  margin-top -1 * sectionHeight
  position relative

  &:not(.incorrect)
    z-index 1
    // fake transition to appease react
    &.url-section-enter
      visibility hidden
      opacity 0
      transition opacity urlTrans ease

    &.url-section-enter-active
      opacity 0.001
      visibility hidden

    &.url-section-leave
      opacity 0
      visibility hidden
      transition opacity urlTrans ease

    &.url-section-leave-active
      opacity 0.001
      visibility hidden

  &.incorrect
    &::after
      content ' '
      position absolute
      display block
      background black
      height 3px
      width 100%
      border-radius 100%
      margin-top -25px

    // &.url-section-enter,
    // &.url-section-leave
    //   text-shadow none

    &.url-section-enter::after
      transform-origin left
      transform scaleX(0)
      transition transform urlTrans linear

    &.url-section-enter-active::after
      transform scaleX(1)

    &.url-section-leave::after
      transform-origin right
      transform scaleX(1)
      transition transform urlTrans linear

    &.url-section-leave-active::after
      transform scaleX(0)

.url-alt,
.url-tick
  height sectionHeight
  margin-top -2 * sectionHeight
  margin-bottom sectionHeight

  &.url-section-enter
    opacity 0
    transition opacity urlTrans ease

  &.url-section-enter-active
    opacity 1

  &.url-section-leave
    opacity 1
    transition opacity urlTrans ease

  &.url-section-leave-active
    opacity 0

.url-tick,
.url-section.correct,
.url-section.correct + .url-sep
  color #27ae60

.url-alt::after
  content ' ✗'
  color #c0392b

@keyframes glow
  from
    text-shadow 0 0 30px white, 0 0 30px white, 0 0 30px white, 0 0 30px white, 0 0 30px white

  to
    text-shadow 0 0 30px rgba(white, 0.5), 0 0 30px rgba(white, 0.5), 0 0 30px rgba(white, 0.5), 0 0 30px rgba(white, 0.5), 0 0 30px rgba(white, 0.5)
